.heading{
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    text-align: center;
}

.Slot-box{
    width: 450px;
    min-height: 500px;
    border: 2px solid gray;
    margin-left: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-shadow: 5px 5px 10px gray;
}
.slot-inner{
    width: 449px;
    height: fit-content;
    border: 1px solid gray;
    text-align: center;
    background-color: honeydew;
}
.slot-inner:hover{
    cursor: pointer;
    transform:scale(1.02,1.02) ;
    box-shadow: 5px 5px 6px honeydew;
}